<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<description>Shiro配置</description>
	<!-- 缓存管理器 -->
    <!-- <bean id="cacheManager" class="com.xinmo.shiro.SpringCacheManagerWrapper">
		<property name="cacheManager" ref="springCacheManager" />
	</bean> -->
    <bean id="cacheManager" class="com.xinmo.cache.RedisCacheManager">
		<property name="redisManager" ref="redisManager" />
	</bean>
	
	<!-- 会话DAO -->
    <bean id="sessionDAO" class="com.xinmo.shiro.CustomRedisSessionDao">
        <property name="cacheManager" ref="cacheManager"/>
        <property name="sessionIdGenerator" ref="sessionIdGenerator"/>
    </bean>
    
	<!-- 会话ID生成器 -->
    <bean id="sessionIdGenerator" class="org.apache.shiro.session.mgt.eis.JavaUuidSessionIdGenerator"/>
 	<!-- 会话Cookie模板 -->
    <bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg value="sid"/>
        <property name="httpOnly" value="true"/>
        <property name="maxAge" value="-1"/>
    </bean>

    <bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg value="rememberMe"/>
        <property name="httpOnly" value="true"/>
        <property name="maxAge" value="2592000"/><!-- 30天 -->
    </bean>
    <!-- 会话管理器 -->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="globalSessionTimeout" value="1800000"/>
        <property name="deleteInvalidSessions" value="true"/>
        <property name="sessionDAO" ref="sessionDAO"/>
        <property name="cacheManager" ref="cacheManager"/>
        <property name="sessionIdCookieEnabled" value="true"/>
        <property name="sessionIdCookie" ref="sessionIdCookie"/>
    </bean>
	
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="userRealm" />
		<property name="cacheManager" ref="cacheManager" />
		<property name="sessionManager" ref="sessionManager"/>
	</bean>

	<!-- 凭证匹配器 -->
	<bean id="credentialsMatcher" class="com.xinmo.shiro.RetryLimitHashedCredentialsMatcher">
		<constructor-arg ref="cacheManager" />
	</bean>

	<bean id="userRealm" class="com.xinmo.shiro.UserRealm">
		<property name="permissionResolver" ref="urlPermissionResolver"/>
		<property name="credentialsMatcher" ref="credentialsMatcher"/>
		<property name="cachingEnabled" value="true"/>
		<property name="authorizationCachingEnabled" value="true"/>
		<property name="authorizationCacheName" value="authorizationCache"/>
	</bean>
	
    
	<bean id="customAuthorizationFilter" class="com.xinmo.shiro.CustomAuthorizationFilter" />
	<bean id="customUserFilter" class="com.xinmo.shiro.CustomUserFilter" />
	
	<bean id="urlPermissionResolver" class="com.xinmo.shiro.UrlPermissionResolver" />
	 
	<bean id="kickoutSessionControlFilte" class="com.xinmo.shiro.KickoutSessionControlFilter">
		<property name="cacheManager" ref="cacheManager"/>
		<property name="sessionManager" ref="sessionManager"/>
		<property name="kickoutAfter" value="false"/>
		<property name="maxSession" value="1"/>
		<property name="kickoutUrl" value="/login"/>
	</bean>
	 
	<!-- Shiro Filter -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<!-- Shiro的核心安全接口,这个属性是必须的 -->
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/login"/>
		<property name="successUrl" value="/index" />
		<!-- 用户访问未对其授权的资源时,所显示的连接 -->
		<property name="unauthorizedUrl" value="/unauthz" />
        <property name="filters">
            <map>
                <entry key="cuser" value-ref="customUserFilter"/>
                <entry key="cauthz" value-ref="customAuthorizationFilter"/>
                <entry key="kickout" value-ref="kickoutSessionControlFilte"/>
            </map>
        </property>
        <property name="filterChainDefinitions">
            <value>  
            	/ = anon  
            	/kaptcha.jpg = anon
            	/favicon.ico = anon            
                /captcha/** = anon
                /img/** = anon
                /js/** = anon
                /css/** = anon
                /logout = logout
                <!-- login 采用anon形式，避免调用多次 异常通过在logincontroller中捕获 -->
                /login = anon
                /unauthz = authc
                /index = authc
                /** = cuser,kickout,cauthz                
            </value>
        </property>
	</bean>

	<!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

</beans>